<div>
    <h3 class="single-line">
        {{ event.datetime|localizeddate('long', 'none') }}
        <span class="task"> / {{ 'Task'|trans }}</span> / 
        {% if transition is not null %}
            <span class="statement">{{ task_workflow_metadata(event.task, 'transition.sentence', transition)|trans({ '%user%': event.author.username }) }}</span> 
        {% else %}
            <span class="statement">{{ '%user% has created the task'|trans({ '%user%': event.author.username }) }}</span> 
        {% endif %}
    </h3>
    
    <div class="statement">
            <dl class="chill_view_data">
                <dt class="inline">{{ 'Title'|trans }}</dt>
                <dd>{{ event.task.title }}</dd>

                {% if event.task.description is not empty %}
                    <dt class="inline">{{ 'Description'|trans }}</dt>
                    <dd>
                        <blockquote class="chill-user-quote">
                            {{ event.task.description }}
                        </blockquote>
                    </dd>
                {% endif %}
                
                {% if event.task.endDate is not empty %}
                    <dt class="inline">{{ 'Task end date'|trans }}</dt>
                    <dd>{{ event.task.endDate|localizeddate('medium', 'none') }}</dd>
                {% endif %}
            </dl>
    </div>
        
</div>
