<div>
    <h3 class="single-line">
        {{ event.datetime|localizeddate('long', 'short') }}
        <span class="task"> 
        {% if transition is not null %}
            <span class="statement">{{ task_workflow_metadata(event.task, 'transition.sentence', transition)|trans({ '%user%': event.author.username }) }}</span>
        {% else %}
            <span class="statement">{{ '%user% has created the task'|trans({ '%user%': event.author.username }) }}</span>
        {% endif %}
    </h3>
</div>
