{% extends "ChillPersonBundle::layout.html.twig"  %}

{% set activeRouteKey = 'chill_task_task_list' %}
{% set person = task.person %}

{% block title  'Remove task'|trans %}

{% block personcontent %}

{{ include('ChillMainBundle:Util:confirmation_template.html.twig',
    {
        'title'             : 'Remove task'|trans,
        'confirm_question'  : 'Are you sure you want to remove the task about "%name%" ?'|trans({ '%name%' : person.firstname ~ ' ' ~ person.lastname } ),
        'cancel_route'      : 'chill_task_singletask_list',
        'cancel_parameters' : app.request.query.get('list_params', { } ),
        'form'              : delete_form
    } ) }}

{% endblock %}
