{#
 * Copyright (C) 2014, Champs Libres Cooperative SCRLFS, <http://www.champs-libres.coop>
 *
 * This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 *  License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}
{% extends "ChillPersonBundle::layout.html.twig"  %}

{% set activeRouteKey = 'chill_task_single_task_edit' %}
{% set person = task.person %}

{% block title %}{{ 'Edit task'|trans }}{% endblock %}

{% block personcontent %}
<h1 class="chill-red">{{ 'Edit task'|trans }}</h1>

    {{ form_start(form) }}

    {{ form_row(form.title) }}
    {{ form_row(form.description) }}
    {{ form_row(form.assignee) }}
    {{ form_row(form.circle) }}
    {{ form_row(form.startDate) }}
    {{ form_row(form.endDate) }}
    {{ form_row(form.warningInterval) }}

    <ul class="record_actions sticky-form-buttons">
        <li class="cancel">
            <a class="sc-button bt-cancel" href="{% if app.request.query.has('returnPath') %}
                {{ app.request.query.get('returnPath')|escape('html_attr') }}">
                {% else %}
                {{ path('chill_task_single_task_show', { 'id': task.id, 'list_params': app.request.query.get('list_params', { } )} ) }}" class="sc-button">
                {% endif %}
                {{ app.request.query.get('returnLabel')|default('Cancel'|trans) }}
            </a>
        </li>
        <li>
            {{ form_widget(form.submit, { 'label': 'Save task', 'attr': {'class' : 'sc-button bt-update'}})}}
        </li>
    </ul>

    {{ form_end(form) }}

{% endblock %}
