{#
 * Copyright (C) 2014, Champs Libres Cooperative SCRLFS, <http://www.champs-libres.coop>
 *
 * This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 *  License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}
{% extends "ChillPersonBundle::layout.html.twig"  %}

{% set activeRouteKey = 'chill_task_single_task_new' %}
{% set person = task.person %}

{% block title %}{{ 'New task'|trans }}{% endblock %}

{% block personcontent %}
<h1 class="chill-red">{{ 'New task'|trans }}</h1>

    {{ form_start(form) }}
    
    {{ form_errors(form) }}

    {{ form_row(form.title) }}
    {{ form_row(form.description) }}
    {{ form_row(form.assignee) }}
    {{ form_row(form.circle) }}
    {{ form_row(form.startDate) }}
    {{ form_row(form.endDate) }}
    {{ form_row(form.warningInterval) }}

    <div class="grid-12 centered sticky-form-buttons">
        <!-- {{ form_row(form.submit, { 'label': 'Add a new task'|trans, 'attr': {'class': 'fa fa-save sc-button green margin-10'}  })  }} -->

        <button class="sc-button green margin-10" type="submit"><i class="fa fa-save"></i> {{ 'Add a new task'|trans }}</button>
    </div>

    {{ form_end(form) }}

{% endblock %}
