.task-status {
    &.box {
        font-variant: small-caps;
        display: inline;
        padding: .2em .6em .3em;
        font-size: 0.88rem;
        font-weight: bold;
        line-height: 1;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: .25em;
        color: white;
    }
    
    &.type-task_default {
        //  'new', 'in_progress', 'closed', 'canceled'
            &.place-new {
                background-color: var(--chill-yellow);
            }

            &.place-in_progress {
                background-color: var(--chill-green);
            }

            &.place-closed {
                background-color: var(--chill-blue);
            }

            &.place-canceled {
                background-color: var(--chill-beige);
            }
    }
}
