@import '../../../../main/Resources/public/sass/custom/config/colors';
@import "_task-statuses.scss";
@import "_task-list.scss";

div#single_task_warningInterval {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    div.container {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        & > div:first-child {
            display:none;  /* Hide the label container */
        }
        & > div {
            padding-right: 0;
            width: 7em;
        }
        input[type="text"] {
            height: 35px;
        }
    }
}

.bt-task-label {
    display: inline-flex;
    margin-bottom: 0.2em;
    font-size: 0.8em;
    text-transform: capitalize;
}

.bt-task {
    display: inline-block;
    height: 0;
    width: 8px;
}

.bt-task-exchange {
    background: $chill-green;
    color: #fff;
}
.bt-task-exchange:hover {
    background: $chill-green-dark;
    color: #fff;
}

.bt-task-exchange::before {
    @extend .bt-task;
    width: 10px;
    content: url(../svg/exchange-alt.svg);
}

.bt-task-start::before {
    @extend .bt-task;
    content: url(../svg/play.svg);
}

.bt-task-cancel::before {
    @extend .bt-task;
    content: url(../svg/archive.svg);
}

.bt-task-close::before {
    @extend .bt-task;
    content: url(../svg/check.svg);
}

.bt-dropdown {
    position: relative;
    display: inline-block;
}

.bt-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    a {
      margin: 0.4em;
    }
}

.bt-dropdown:hover .bt-dropdown-content {
    display: inline-block;
    width: min-content;
}
